@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.container{
    width: min(100% - 1rem, 1200px);
    margin-inline: auto;
    margin-top: 2rem;
}
.container-vh{
    height: 100vh;
}
.container-2{
    width: min(100% - 1rem, 850px);
    margin-inline: auto;
    margin-top: 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}
.title{
    font-weight: 700;
    font-size: 27px;
}
.btn{
    padding: 20px;
    color:#fff;
    background-color: #FF7979;
    border-radius: 30px;
    text-decoration: none;
    max-width: 400px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    border: 1px solid #FF7979;

}
.btn:hover{
    background-color: #fff;
    color: #FF7979;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    max-width: 400px;
    width: 100%;
}
.input span{
    font-weight: 600;
    font-size: 16px;
    color: #000 ;
    opacity: 0.7;
    text-transform: lowercase;
}
.span{
    font-weight: 600;
    font-size: 16px;
    color: #000 ;
    text-transform: lowercase;
}

.input input{
    width: 100%;
    height: 45px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #000;
}


.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}
.item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border: 1px solid #000;
    padding: 32px 28px;
    border-radius: 30px;
}
.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.create{
    padding: 10px 20px;
    width: 220px;
}
.title{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.number{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.name{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text{
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #000 ;
    text-transform: lowercase;
}
.text-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #000 ;
    text-transform: lowercase;
}